@import "../variables";
@import "../mixins";
.concern_swiper {

  height: 100%;
  .concern_slide {
    box-sizing: border-box;
    padding: 4px;
    transition: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    span {
      display: block;
      text-align: center;
      color: #1b1b1b;
      font-size: 18px;
      font-family: $sulphar;
    }
    img {
      border-radius: 14px;
    }
  }
}
