@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/components/pagination/pagination.scss";
.devider {
  border-bottom: 1px solid #eeeeee;
}

.header_component {
  position: relative;
  width: 100%;
  font-weight: 400;
  margin-bottom: 20px;
  color: #444444;
  text-transform: uppercase;
  @include breakpoint(tablet) {
    margin: 4px 0;
    &.center {
      text-align: center;
    }
  }
  .header_see_all {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    @include breakpoint(tablet) {
      right: 1%;
    }
  }
}
.slider_global{
  position: relative;
  .swiper-slide{
    padding: 25px 0;
  }
  .swiper-pagination{
    width: 60px;
    margin-left: auto;
    right: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
  }
  .swiper-pagination-bullets{
    bottom: 40px;
  }
  .swiper-pagination-bullet {
    background-color: $theme2;
    opacity: 0.2;
    &.swiper-pagination-bullet-active {
      background-color: $theme2;
      opacity: 1;
    }
  }
}
.trending_global,
.concern_global {
  .swiper-pagination{
    position: relative;
  }
  .swiper-pagination-bullets{
    bottom: 0px;
  }
  .swiper-pagination-bullet {
    background-color: $theme2;
    opacity: 0.2;
    &.swiper-pagination-bullet-active {
      background-color: $theme2;
      opacity: 1;
    }
  }
}
