@import "./sass/_variables.scss";
@import "./sass/mixins";
.footer_container {
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="number"],
  textarea {
    color: $theme2;
  }
  background-color: #fffaf5;
  @include breakpoint(tablet) {
    span.heading {
      font-size: 13px;
      margin: 8px 0;
    }
    .footer_ul li a {
      margin: 6px 0;
      font-size: 14px;
    }
  }
  .footer_wrap {
    padding: 20px 15px;
    display: flex;
    .first {
      width: 25%;
    }
    .second {
      width: 20%;
    }
    .fourth {
      width: 20%;
    }
    .fifth {
      width: 35%;
    }
    @include breakpoint(tablet) {
      .first {
        width: 100%;
        text-align: center;
      }
      .second,
      .fourth {
        width: 50%;
      }
      .fifth {
        width: 100%;
      }
    }
    .footer_logo {
      //   width: 100px;
      color: $theme2;
      font-size: 24px;
      margin-bottom: 10px;
      @include breakpoint(tablet) {
        margin: 0 auto;
        display: block;
      }
    }
    .fa_icon {
      color: black;
      font-size: 1.5em;
    }
    .phone {
      margin: 8px 0;
      direction: ltr;
      span,
      a {
        color: black;
        font-size: 15px;
        margin-left: 10px;
        font-family: $belleza;
      }
      @include breakpoint(tablet) {
        margin: 10px 0;
        span {
          font-size: 13px;
        }
      }
    }
    .email {
      direction: ltr;
      span {
        color: black;
        font-size: 14px;
        margin-left: 10px;
        font-family: $belleza;
      }
      @include breakpoint(tablet) {
        margin: 10px 0;
        span {
          font-size: 13px;
        }
      }
    }
    .payment_link {
      display: flex;

      margin-top: 10px;

      :last-child {
        margin-left: 10px;
      }
    }
  }
  .social_icons_wrapper {
    width: 100%;
    text-align: center;
    @include breakpoint(tablet) {
      margin-bottom: 60px;

      border-bottom: 1px solid lightgray;
    }
    span {
      font-size: 20px;
      color: black;
      text-transform: uppercase;
      font-family: $belleza;
    }
    .social_icons {
      padding-bottom: 20px;
      .social_icon_logo {
        margin: 20px 20px;
        font-size: 1.5em;
        color: black;
        &:hover {
          color: $theme2;
        }
      }
    }
  }
  .custom_card {
    padding: 15px 10px;
    .btn-danger.btn-sm {
      background-color: $theme2;
      color: $theme1;
    }
    input {
      outline: none;
      border-radius: 4px;
      border-color: $theme2;
    }
    ::placeholder {
      color: $theme2;
    }
    .subs_button {
      position: absolute;
      right: 20px;
      color: white;
      background: $theme2;
      border: none;
      border-radius: 4px;
      padding: 3px 5px;
      top: 4px;
    }
  }
}
.footer_container[dir="rtl"] {
  .footer_wrap {
    text-align: right;
  }
  .subs_button {
    left: 20px;
    right: unset;
  }
}
span.heading {
  font-size: 16px;
  font-family: $belleza;
  font-weight: bold;
  margin: 5px 0;
  color: black;
  display: block;
}
.footer_ul {
  li {
    a {
      color: black;
      font-size: 16px;
      // margin: 15px 0;
      display: block;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
