@import "./sass/_variables.scss";
@import "./sass/mixins";
//forget password
.forget__password__wrapper {
    display: grid;
    place-items: center;
  }
  .forget__card {
    width: 400px;
    border-radius: 4px;
    @include breakpoint(tablet) {
      width: 310px;
      padding: 15px 10px;
    }
    padding: 20px;
    background: white;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.15);
    margin: 25px 6px;
  
    label {
      font-size: 16px;
      color: $theme1;
      font-weight: 600;
    }
    button {
      width: 150px;
      font-size: 18px;
    }
  }
  

  
  //forget password message
  
  .message__card__wrapper {
    display: grid;
    place-items: center;
  }
  .message__card {
    width: 400px;
    border-radius: 4px;
    @include breakpoint(tablet) {
      width: 310px;
      padding: 15px 10px;
    }
    padding: 20px;
    background: white;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.15);
    margin: 50px 6px;
  
    .fa__success,
    .fa__failed {
      color: green;
      margin: 10px 0;
    }
    p.success__text {
      font-size: 16px;
      color: $theme1;
      a {
        text-decoration: underline;
        font-size: 18px;
        color: green;
        font-weight: bold;
      }
    }
    .fa__failed {
      color: red;
    }
  }