@import "./sass/variables";
@import "./sass/mixins";
.sliderContainer {
  background-color: #e3212a;
  // height: 400px;
  // @include breakpoint(tablet) {
  //   height: 330px;
  // }
  .slider_wrapper {
    // height: 400px;
    // @include breakpoint(tablet) {
    //   height: 330px;
    // }
    align-items: center;
  }
}
// Product Card
.product {
  display: inherit;
  margin: 5px;
  // box-shadow: 1px 1px 4px 1px #0000001a;
  box-shadow: 0px 12px 24px #afafaf1f;
  position: relative;
  padding: 20px;
  border-radius: 14px;
  &:hover {
    .product_name {
      a {
        color: $theme2;
      }
    }
  }
  &:hover,
  &:active,
  &:focus {
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  }
  .ribbon_soldout {
    right: 3px;
    top: 3px;
    width: 58px;
    height: 20px;
    position: absolute;
    overflow: hidden;
    font-size: 13px;
    border-radius: 4px;
    // border: 4px double red;
    // box-sizing: content-box;
    z-index: 3;
    background-color: rgb(196, 4, 4);
    span {
      padding: 0px 5px;
      // background: linear-gradient(#db3005 50%, #ec593f 100%);
      text-align: center;
      color: #fff;
      font-weight: 600;
    }
  }
  .ribbon,
  .ribbon_new {
    width: 40px;
    height: 18px;
    position: absolute;
    overflow: hidden;
    font-size: 13px;
    border-radius: 4px;
    span {
      color: #fff;
      padding: 0px 6px;
      font-weight: 600;
      line-height: 18px;
      position: absolute;
      z-index: 2;
      overflow: hidden;
    }
  }
  .ribbon {
    right: 3px;
    top: 3px;
    span {
      background: linear-gradient(rgb(247, 17, 86) 50%, #ff2e2e 100%);
      text-align: center;
    }
  }
  .ribbon_new {
    left: 3px;
    top: 3px;
    span {
      background: linear-gradient(#045e92 50%, #29d3ca 100%);
      text-align: center;
    }
  }
  .ribbon_campaign {
    width: 100%;
    height: 18px;
    position: absolute;
    overflow: hidden;
    font-size: 13px;
    border-radius: 0px;
    /* Rotate from top left corner (not default) */
    top: 0;
    right: -18px;
    transform-origin: 0 0;
    transform: rotate(90deg);
    span {
      color: #fff;
      background: linear-gradient(rgb(243, 68, 120) 50%, #f55353 100%);
      text-align: center;
      padding: 0px 6px;
      font-weight: 600;
      line-height: 18px;
      position: absolute;
      z-index: 2;
      overflow: hidden;
    }
  }

  .product_img {
    text-align: center;
    padding: 2px 2px 4px 2px;
    transition: 0.4s all ease-in-out;
    .lazyload-wrapper {
      height: 100%;
    }
    img {
      height: 100%;
    }
    height: 150px;
    @include breakpoint(tablet) {
      height: 140px;
    }
  }
  span {
    display: block;
    // text-align: center;
    // font-family: $lato;
    color: #1b1b1b;
  }
  .product_name {
    font-family: $sulphar;
    transition: 0.4s all ease-in-out;
    min-height: 30px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    // margin: 0px 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include breakpoint(tablet) {
      font-size: 12px;
      line-height: 15px;
    }
    &:hover,
    &:focus {
      a {
        color: #5a5a5a;
      }
    }
  }
  .product_brand {
    font-family: $sulphar;
    transition: 0.4s all ease-in-out;
    font-size: 13px;
    text-align: left;
    // font-weight: 800;
    text-transform: uppercase;
    color: #d1a333;
    @include breakpoint(tablet) {
      font-size: 13px;
      min-height: 20px;
    }
  }
  .product_price {
    @include breakpoint(tablet) {
      font-size: 14px;
    }
    transition: 0.4s all ease-in-out;
    font-size: 16px;
    color: $theme1;
    font-weight: 600;
    margin-top: 10px;
    &.offer_price {
      color: red;
    }
    .old {
      color: $theme1;
      font-size: 14px;
      font-weight: 600;
      text-decoration: line-through;
      display: inline-block;
      @include breakpoint(tablet) {
        font-size: 13px;
      }
    }
    @include breakpoint(tablet) {
      font-size: 13px;
    }
  }
}

// Best brands
.brands_container {
  position: relative;
  .control_icon {
    font-size: 2.2em;
    color: $theme1;
  }
  margin: auto;

  .brand_slide {
    padding: 5px 2px;
    text-align: center;
    // height: 68px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(112, 112, 112, 0.25);
    -moz-box-shadow: 0px 0px 2px 1px rgba(112, 112, 112, 0.25);
    box-shadow: 0px 0px 2px 1px rgba(112, 112, 112, 0.25);
    // margin: 0.5rem 1rem;
    box-sizing: border-box;
    border-radius: 12px;
    img,
    .no-img {
      width: auto;
      height: 68px;
    }
  }
}
// blogs
a.blog_wrapper {
  &:hover,
  &:focus {
    .card_title {
      color: $theme2;
    }
  }
}
.card_img {
  border-radius: 14px;
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
  @include breakpoint(tablet) {
    height: 120px;
    margin-bottom: 6px;
  }
}

.card_title {
  font-family: $sulphar;
  min-height: 35px;
  font-size: 15px;
  font-weight: 600;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card_body {
  padding: 0.5rem !important;
  .card_text {
    margin-top: 4px;
    font-family: $sulphar;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 45px;
    p {
      color: black;
    }
  }
}
.card_img_overlay {
  padding: 0.5rem !important;
}
.r_details {
  background-color: $theme1;
  color: white;
  font-size: 14px;
  padding: 5px 8px;
  transition: 0.4s all ease-in-out;
  &:hover {
    background-color: $theme2;
    color: white;
  }
}
.v_blog {
  text-align: center;
  a {
    display: inline-block;
    padding: 10px 28px;
    margin-bottom: 15px;
    margin-top: -8px;
    background-color: $theme1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    transition: 0.4s all ease-in-out;
    &:hover {
      background-color: $theme2;
    }
  }
}

// Mobile Menu
.mobile_menu_wrapper {
  padding: 8px 0;
  color: #9a9a9a;
  font-size: 16px;
}
