@import "./sass/_variables.scss";
@import "./sass/mixins";
.mobile_footer_menu {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background: white;
  padding: 5px 0;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);

  .mobile_scroll_top {
    position: absolute;
    right: 10px;
    top: -60%;
    padding: 6px 10px;
    border-radius: 50%;
    border: 1px solid $theme2;
    background: white;
    color: $theme2;
    svg {
      font-size: 1.3rem;
    }
  }
  ul.mobile_footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    li {
      width: 20%;

      .menu_item_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        .svgWrap {
          position: relative;
          display: inline-flex;
          span.bag_count {
            position: absolute;
            font-size: 16px;
            color: red;
            background: white;
            top: 6px;
            padding: 0px 6px;
            border-radius: 50%;
            right: 20%;
          }
        }
        svg {
          font-size: 1.2rem;
        }
        span {
          margin-top: 3px;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 12px;
          text-align: center;
        }
        .bag_top {
          background-color: $theme2;
          padding: 18px;
          border-radius: 50%;
          position: absolute;
          top: -20px;
          box-shadow: 0px 10px 10px #ff1a5830;
        }
      }
    }
  }
}
.category_slide_div {
  &.active {
    left: 0;
    overflow: auto;
  }
  position: fixed;
  left: -100%;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100%;
  z-index: 999;
  padding: 30px 30px 80px;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  span.back {
    color: red;
    font-size: 1.1rem;
    margin-bottom: 8px;
    display: inline-block;
  }
  ul {
    display: block;

    // border-top: 1px solid;
    border-bottom: 1px solid;
    li {
      padding: 10px;
      font-size: 17px;
      font-weight: 600;
      ul {
        display: none;
        &.open {
          display: block;
        }
      }
      // &:focus-visible {
      //   > ul {
      //     display: block;
      //   }
      // }
      a {
        color: white;
      }
    }
  }
}

.category_popup {
  background: #0000004d;
  position: fixed;
  height: 100vh;
  opacity: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  top: 100%;
  &.active {
    top: 0;
    opacity: 1;
  }
  transition: 0.4s ease-in-out;
  .popup_top {
    height: calc(100vh - 580px);
    position: relative;
    .close {
      position: absolute;
      display: inline-block;
      padding: 8px;
      border-radius: 50%;
      bottom: 12px;
      left: 50%;
      transform: translatex(-50%);
      background: white;
      border: none;
    }
  }
  .category_popup_inner {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 6565;
    .inner_content {
      background: white;
      height: 580px;
      width: 100%;
      border-radius: 20px 20px 0px 0px;
      padding: 20px;
    }
    .popup_title {
      text-transform: uppercase;
      color: black;
      font-family: $belleza;
      font-size: 16px;
      margin-bottom: 20px;
    }
    .cat_list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      li {
        width: calc(50% - 10px);
        margin-bottom: 20px;
        margin-right: 0;
        position: relative;
        .a {
          display: block;
          width: 100%;
          color: black;
          box-shadow: 0px 0px 8px #00000017;
          padding: 12px;
          height: 80px;
          border-radius: 12px;
          font-size: 14px;
          font-weight: 600;
          font-family: $sulphar;
        }
        &:nth-child(odd) {
          margin-right: 20px;
        }
      }
    }
    .sub_cat_list {
      display: block;
      li {
        .a {
          display: flex;
          font-size: 14px;
          color: black;
          font-family: $sulphar;
          border-bottom: 1px solid #e4e4e4;
          padding: 3px 0;
          margin: 2px 0;
          justify-content: space-between;
          img{
            transform: rotate(90);
          }
        }
      }
    }
    .back_button {
      border: none;
      display: flex;
      align-items: center;
      background: white;
      border-bottom: 1px solid #e4c1b1;
      width: 100%;
      text-align: left;
      padding-bottom: 10px;
      margin-bottom: 10px;
      span {
        margin-left: 10px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}

.cat_img {
  position: absolute;
  right: 16px;
  bottom: 10px;
}
