@import "./sass/_variables.scss";
@import "./sass/mixins";

.navbar_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px 0;
  // border-bottom: 1px solid #eeeeee;
  align-items: center;
  h1 {
    font-size: 24px;
    a {
      color: $theme2;
    }
  }
  .logo_content {
    @include breakpoint(tablet) {
      order: 2;
    }
  }
  .search_container {
    .search_content {
      // width: 55.56%;
      width: 600px;
      position: relative;
      input {
        border: 1px solid #e4c1b1;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 18px;
        &:focus {
          border-color: $theme2;
        }
      }
      svg {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        z-index: 1;
      }
      .search_result {
        visibility: hidden;
        z-index: 99999;
        &.active {
          visibility: visible;
        }
        position: absolute;
        top: 45px;
        max-height: 70vh;
        overflow-y: auto;
        width: 100%;
        background: white;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 12px 12px #f6d3d54d;
        ul {
          display: block;
          li {
            border-bottom: 1px solid $theme2;
            position: relative;
            color: white;
            .search_result_li {
              display: flex;
              margin: 4px 5px;
              color: $theme2;
              cursor: pointer;
              &:hover {
                color: $theme1;
              }
              img {
                width: 50px;
                height: 50px;
              }
              span {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                margin-left: 20px;
              }
            }

            .search_result_li2 {
              display: flex;
              margin: 3px 5px;

              color: $theme2;
              cursor: pointer;
              &:hover {
                color: $theme1;
              }
              position: relative;
              > div {
                max-width: 83%;
              }
              span {
                position: absolute;
                right: 0;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .mb_search_content {
      display: none;
    }
    @include breakpoint(tablet) {
      order: 3;
      .search_content {
        display: none;
      }
      .mb_search_content {
        display: block;
        .mobile_search_icon {
          color: black;
          padding-right: 5px;
        }
      }
    }
  }

  .icon_content {
    // width: 25%;
    ul {
      display: flex;
      align-items: center;
      li {
        padding: 0 20px;
        display: inline-block;
        position: relative;
        .main_icon {
          font-size: 20px;
          cursor: pointer;
          position: relative;
        }
        .bag_count {
          position: absolute;
          background: $theme2;
          text-align: center;
          border-radius: 50%;
          color: white;
          top: -12px;
          right: 8px;
          padding: 2px;
          min-height: 18px;
          min-width: 18px;
          font-size: 10px;
        }
        .bag_popup {
          background-color: white;
          position: absolute;
          width: 320px;
          left: -470%;
          height: 0;
          z-index: 444;
          top: 87px;
          box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
          transition: all 0.4s ease-in-out;
          overflow: hidden;
          display: flex;
          flex-direction: column;

          &.active {
            height: calc(100vh - 115px);
          }
          .bag_top {
            // background-color: yellow;
            .top_inner {
              display: flex;
              justify-content: space-between;
              padding: 10px;
              .bag_total {
                border-bottom: 1px solid #f5f5f5;
                font-size: 18px;
              }
            }
          }
          .bag_middle {
            flex: 1;
            overflow-y: auto;
            .product__item {
              display: flex;
              align-items: center;
              padding: 15px 0;
              border-bottom: 1px solid #ebebeb;

              .product__quantity {
                width: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                button {
                  background: none;
                  border: none;
                  outline: none;
                }
                svg {
                  font-size: 12px;
                  cursor: pointer;
                }
                .qnt {
                  font-size: 14px;
                  font-weight: 600;
                }
              }
              .product__img {
                max-width: 40px;
                max-height: 40px;
                margin: 0 8px;
              }
              .product__name {
                width: 130px;
                font-size: 13px;
                line-height: 15px;
                .option__lavel {
                  display: block;
                }
              }
              .product__price {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 8px;
                padding-left: 5px;
                svg {
                  cursor: pointer;
                }
              }
            }
          }
          .bag_bottom {
            .place_order {
              text-align: center;
              display: block;
              padding: 10px 0;
              font-size: 18px;
              background: linear-gradient(
                90deg,
                #e21895 42%,
                #9342d1 100%,
                #9e1157 0,
                #9342d1 0
              );
              color: white;
              text-transform: uppercase;
              font-weight: 500;
            }
          }
        }
      }
    }
    @include breakpoint(tablet) {
      order: 1;

      li:nth-child(1) {
        padding-left: 0;
      }
      li:nth-child(2) {
        display: none;
      }
      li:nth-child(3) {
        display: none;
      }
    }
  }
  .mb_search_input {
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    align-items: center;
    padding: 15px;
    .mb_search_input_wrapper {
      position: relative;
      width: 100%;
    }
    input {
      border-radius: 8px;
      border-color: $theme2;
      font-size: 18px;
      padding-left: 15px;
    }
    .search_icon {
      position: absolute;
      right: 15px;
      font-size: 24px;
      color: #d3c9c9;
      top: 50%;
      transform: translateY(-50%);
      [dir = "rtl"] & {
        right: unset;
        left: 15px;
      }
    }
    &.closed {
      margin-top: -60px;
      opacity: 0;
    }
    .search_result {
      visibility: hidden;
      z-index: 99999;
      &.active {
        visibility: visible;
      }
      position: absolute;
      top: 45px;
      max-height: 70vh;
      overflow-y: auto;
      width: 100%;
      background: white;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 12px 12px #f6d3d54d;
      ul {
        display: block;
        li {
          border-bottom: 1px solid $theme2;
          position: relative;
          color: white;
          .search_result_li {
            display: flex;
            margin: 4px 5px;
            color: $theme2;
            cursor: pointer;
            &:hover {
              color: $theme1;
            }
            img {
              width: 50px;
              height: 50px;
            }
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 16px;
              margin-left: 20px;
            }
          }

          .search_result_li2 {
            display: flex;
            margin: 3px 5px;

            color: $theme2;
            cursor: pointer;
            &:hover {
              color: $theme1;
            }
            position: relative;
            > div {
              max-width: 83%;
            }
            span {
              position: absolute;
              right: 0;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  [dir="rtl"] & {
    .bag_popup {
      right: -250px;
    }
    .search_content svg {
      left: 20px;
      right: unset;
    }
  }
}
