@import "./sass/variables";
@import "./sass/mixins";

.step_four {
  min-height: 400px;
  .greet {
    color: $theme1;
    font-weight: 600;
  }
}
.continue_container {
  display: block;
  margin: 20px 0;
  .back_shopping {
    background-color: $theme1;
    color: white;
    padding: 15px;
    border-radius: 8px;
  }
}
.circle {
  position: relative;
  text-align: center;
  width: 64px;
  height: 64px;
  border: 4px solid limegreen;
  border-radius: 50%;
  margin: 0.15rem;
  background-color: white;
  svg {
    position: absolute;
    fill: limegreen !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
