@import "./sass/variables";
@import "./sass/mixins";

.step_four {
  min-height: 400px;
  .greet {
    color: $theme1;
    font-weight: 600;
  }
}
.continue_container {
  display: block;
  margin: 20px 0;
  .back_shopping {
    background-color: $theme1;
    color: white;
    padding: 15px;
    border-radius: 8px;
  }
}
.circle {
  position: relative;
  text-align: center;
  width: 64px;
  height: 64px;
  border: 4px solid limegreen;
  border-radius: 50%;
  margin: 0.15rem;
  background-color: white;
  svg {
    position: absolute;
    fill: limegreen !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.payment_link_info {
  color: black;
  font-size: 16px;
  letter-spacing: 1px;
  border-bottom: 1px solid $theme2;
  margin-bottom: 1rem;
}

.payment_method_button {
  padding: 8px 30px;
  margin-right: 15px;
  background-color: #7a7373;
  color: white;
  border: none;
  margin-bottom: 10px;
  &.active {
    background-color: $theme2;
  }
}

.payment_input {
  .payment_row {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
    &:last-child {
      border-bottom: none;
      padding-top: 10px;
    }
    .heading {
      &:last-child {
        border-bottom: none;
        padding-top: 10px;
      }
      display: flex;
      justify-content: space-between;

      align-items: center;

      .left {
        display: flex;

        input[type="radio"] {
          width: 20px;
          height: 20px;
          &:checked {
            background-color: #93e026;
          }
        }
        label {
          margin-left: 10px;
          font-size: 16px;
          cursor: pointer;
        }
      }
      .right {
        img {
          height: 30px;
          width: 50px;
          margin: 5px 4px;
        }
      }
    }
  }
}
